.login{
    width: 100vw;
    height: 100vh;
    background-color:rgba(233, 143, 9, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loginWrapper{
    height: 750px;
    margin-top: 350px;
}

.logintop{
    text-align: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color:#ff9900;
}

.loginDesc{
    font-size: 22px;
    color:#000000;
}



.loginbottom{
    margin: 30px 300px;
}

.loginBox{
    position:relative;
    height: 230px;
    width: 280px;
    padding: 17px;
    border: 2px solid rgb(255, 164, 26);
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lInput{
    margin-bottom: 17px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 17px;
    padding-left: 15px;
}

.labelName{
    padding-left: 3px;
    margin-top: 3px;
    color:rgb(0, 0, 0);
}

.lButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.showPass{
    display: flex;
    justify-content: flex-end;
    color:#9b9393;
    cursor:pointer;
    position:absolute;
    width: 45px;
    bottom: 88px;
    right: 30px;
}


@media screen and (max-width: 600px){
    .loginLogo{
        font-size: 40px;
        font-weight: 600;
    }
    
    .loginDesc{
        font-size: 20px;
        color:#000000;
    }

    .lButton{
        height: 35px;
        border-radius: 8px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 18px;
        font-weight: 400;

    }
    .lInput{
        height: 35px;
        margin-bottom: 13px;
        border-radius: 7px;
        font-size: 15px;
        padding-left: 7px;
    }

    .showPass{
        bottom: 74px;
        right: 25px;
    }

    .loginBox{
        height: 210px;
        width: 270px;
        border: 1px solid rgb(255, 164, 26);
        border-radius: 7px;
    }
}